/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100vh;
  min-width: 100vw;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #F5F5F5; }

body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #313638; }

.row {
  margin-right: inherit;
  margin-left: inherit; }

/************************
Top Navigation
************************/
#navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1em;
  border-bottom: 1px solid #FF5A5F; }
  #navigation h1 {
    text-align: center;
    font-size: 1.2em; }
  #navigation #newList {
    position: absolute;
    top: 0;
    left: 0; }
  #navigation #logout {
    position: absolute;
    top: 0;
    right: 0; }

/************************
List view
************************/
#lists {
  padding: 5%;
  overflow: auto;
  white-space: nowrap;
  height: 100vh; }
  #lists .list {
    white-space: initial;
    display: inline-block;
    padding: 1em;
    background-color: #ccc;
    width: 300px;
    margin-bottom: 2em;
    margin: 6px;
    border-radius: 8px; }
    #lists .list__title .title {
      background-color: #ccc;
      color: #262322;
      border: none;
      border-radius: 4px;
      padding: .5em;
      margin: 0 0 .5em;
      cursor: pointer; }
    #lists .list__title .editor input {
      padding: .5em;
      margin: 0 0 .5em;
      outline: none;
      border: none; }
    #lists .list .tasks__new {
      text-decoration: underline;
      color: #777;
      display: inline-block;
      width: 100%;
      padding: .5em;
      cursor: pointer;
      border-radius: 4px; }
      #lists .list .tasks__new:hover {
        background-color: #bbb; }
    #lists .list .tasklist .task {
      padding: .5em;
      background-color: #F5F5F5;
      position: relative;
      border-radius: 8px;
      margin: .5em 0; }
      #lists .list .tasklist .task__title {
        width: 100%;
        display: inline-block;
        padding: .25em .5em;
        cursor: pointer;
        border-radius: 4px; }
      #lists .list .tasklist .task:hover {
        background-color: #FF5A5F; }
        #lists .list .tasklist .task:hover .task__title {
          color: white; }

/************************
Task modal popup
************************/
.modal-dialog {
  background-color: #F5F5F5;
  border-radius: 8px; }
  .modal-dialog .modal-content {
    background-color: #F5F5F5;
    border-radius: 8px; }
    .modal-dialog .modal-content .modal-body {
      background-color: #F5F5F5;
      border-radius: 8px;
      padding: 1em; }
      .modal-dialog .modal-content .modal-body .modal-task .modal-close {
        position: absolute;
        top: 5px;
        right: 5px; }
      .modal-dialog .modal-content .modal-body .modal-task .modal-title {
        margin: 1em 0; }
        .modal-dialog .modal-content .modal-body .modal-task .modal-title h3 {
          display: inline-block;
          font-size: 1.1em;
          color: #262322;
          cursor: pointer; }
        .modal-dialog .modal-content .modal-body .modal-task .modal-title span {
          font-size: .9em;
          color: #777; }
        .modal-dialog .modal-content .modal-body .modal-task .modal-title .parentList {
          color: #777;
          font-size: 1em;
          text-decoration: underline; }
      .modal-dialog .modal-content .modal-body .modal-task .modal-description {
        margin: 1em 0; }
        .modal-dialog .modal-content .modal-body .modal-task .modal-description h4 {
          display: inline-block; }
        .modal-dialog .modal-content .modal-body .modal-task .modal-description p {
          color: #777;
          cursor: pointer;
          padding: 1em; }
        .modal-dialog .modal-content .modal-body .modal-task .modal-description .edit {
          padding: 0 .5em;
          display: inline;
          color: #777;
          cursor: pointer; }
          .modal-dialog .modal-content .modal-body .modal-task .modal-description .edit:hover {
            text-decoration: underline; }
        .modal-dialog .modal-content .modal-body .modal-task .modal-description .editor .description {
          display: block;
          resize: vertical;
          min-height: 200px;
          width: 100%;
          background-color: white;
          font-size: 1.1em;
          padding: 1em;
          color: #262322;
          border: none;
          outline: none;
          margin: .5em 0; }
      .modal-dialog .modal-content .modal-body .modal-task .modal-comments .addComment textarea {
        border-radius: 8px;
        outline: none;
        border: none; }
      .modal-dialog .modal-content .modal-body .modal-task .modal-comments .comments {
        max-height: 400px;
        overflow-y: scroll; }
      .modal-dialog .modal-content .modal-body .modal-task .modal-comments .comment {
        margin-bottom: .5em 0; }
        .modal-dialog .modal-content .modal-body .modal-task .modal-comments .comment__info {
          padding: .5em 0;
          color: #777; }
        .modal-dialog .modal-content .modal-body .modal-task .modal-comments .comment p {
          padding: .5em 0 1em;
          border-bottom: 1px solid #777; }

/************************
Homepage View
************************/
#mainTitle {
  padding: 2em;
  font-size: 50px;
  text-align: center;
  font-weight: bold; }

#signupMessage {
  padding: 1em;
  font-size: 30px;
  text-align: center; }
  #signupMessage .login {
    color: #FF5A5F;
    cursor: pointer; }

#newUser,
#login {
  width: 600px;
  display: block;
  margin: 0 auto; }

#login {
  display: none; }
  #login #invalidLogin {
    display: none;
    margin: 1em auto; }

#newUser #emailExists,
#newUser #passwordMismatch,
#newUser #invalidEmail {
  display: none;
  margin: 1em auto; }
#newUser #emailExists {
  cursor: pointer; }

/************************
Generic save / close editor dialog
************************/
div.editor {
  display: none;
  padding: 1em; }
  div.editor--show {
    display: inherit; }
  div.editor input, div.editor textarea {
    width: 100%;
    background-color: white;
    color: #262322;
    padding: .5em;
    margin: 5px auto;
    outline: none;
    border: none; }
  div.editor .save {
    margin: 5px auto; }
  div.editor .close {
    margin: 5px auto; }

/*# sourceMappingURL=main.css.map */
