@import 'reset';

$br: 8px;
$sbr: $br / 2;

$mainBG: #efefef;
$mainHoverBG: #bbb;
$mainF: #262322;
$mainFL: #777;
$accent1: coral;
$accent2: lightblue;

$slate: #313638;
$offwhite: #F5F5F5;
$red: #FF5A5F;
$tan: #ccc;

$tran: .7s;

html, body {
	height: 100vh;
	min-width: 100vw;
	font-family: 'Helvetica', 'Arial', sans-serif;
	background-color: $offwhite;
}

body {
	h1, h2, h3, h4, h5, h6 {
		color: $slate;
	}
}

.row {
	margin-right: inherit;
	margin-left: inherit;
}

/************************
Top Navigation
************************/
#navigation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 1em;
	border-bottom: 1px solid $red;
	h1 {
		text-align: center;
		font-size: 1.2em;
	}
	#newList {
		position: absolute;
		top: 0;
		left: 0;
	}
	#logout {
		position: absolute;
		top: 0;
		right: 0;
	}
}

/************************
List view
************************/
#lists {
	padding: 5%;
	overflow: auto;
	white-space: nowrap;
	height: 100vh;
	.list {
		white-space: initial;
		display: inline-block;
		padding: 1em;
		background-color: $tan;
		width: 300px;
		margin-bottom: 2em;
		margin: 6px;
		border-radius: $br;
		&__title {
			.title {
				background-color: $tan;
				color: $mainF;
				border: none;
				border-radius: $sbr;
				padding: .5em;
				margin: 0 0 .5em;
				cursor: pointer;
			}
			.editor {
				input {
					padding: .5em;
					margin: 0 0 .5em;
					outline: none;
					border: none;
				}
			}
		}
		.tasks__new {
			text-decoration: underline;
			color: $mainFL;
			display: inline-block;
			width: 100%;
			padding: .5em;
			cursor: pointer;
			border-radius: $sbr;
			&:hover {
				background-color: $mainHoverBG;
			}
		}
		.tasklist {
			.task {
				padding: .5em;
				background-color: $offwhite;
				position: relative;
				border-radius: $br;
				margin: .5em 0;
				&__title {
					width: 100%;
					display: inline-block;
					padding: .25em .5em;
					cursor: pointer;
					border-radius: $sbr;
				}
				&:hover {
					background-color: $red;
					.task__title {
						color: white;
					}
				}
			}
		}
	}
}

/************************
Task modal popup
************************/
.modal-dialog {
	background-color: $offwhite;
	border-radius: $br;
	.modal-content {
		background-color: $offwhite;
		border-radius: $br;
		.modal-body {
			background-color: $offwhite;
			border-radius: $br;
			padding: 1em;
			.modal-task {
				.modal-close {
					position: absolute;
					top: 5px;
					right: 5px;
				}
				.modal-title {
					margin: 1em 0;
					h3 {
						display: inline-block;
						font-size: 1.1em;
						color: $mainF;
						cursor: pointer;
					}
					span {
						font-size: .9em;
						color: $mainFL;
					}
					.parentList {
						color: $mainFL;
						font-size: 1em;
						text-decoration: underline;
					}
				}
				.modal-description {
					margin: 1em 0;
					h4 {
						display: inline-block;
					}
					p {
						color: $mainFL;
						cursor: pointer;
						padding: 1em;
					}
					.edit {
						padding: 0 .5em;
						display: inline;
						color: $mainFL;
						cursor: pointer;
						&:hover {
							text-decoration: underline;
						}
					}
					.editor {
						.description {
							display: block;
							resize: vertical;
							min-height: 200px;
							width: 100%;
							background-color: white;
							font-size: 1.1em;
							padding: 1em;
							color: $mainF;
							border: none;
							outline: none;
							margin: .5em 0;
						}
					}
				}
				.modal-comments {
					h3 {

					}
					.addComment {
						textarea {
							border-radius: $br;
							outline: none;
							border: none;
						}
					}
					.comments {
						max-height: 400px;
						overflow-y: scroll;
					}
					.comment {
						margin-bottom: .5em 0;
						&__info {
							padding: .5em 0;
							color: $mainFL;
						}
						p {
							padding: .5em 0 1em;
							border-bottom: 1px solid $mainFL;
						}
					}
				}
			}
		}
	}
}

/************************
Homepage View
************************/
#mainTitle {
	padding: 2em;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
}
#signupMessage {
	padding: 1em;
	font-size: 30px;
	text-align: center;
	.login {
		color: $red;
		cursor: pointer;
	}
}
#newUser,
#login {
	width: 600px;
	display: block;
	margin: 0 auto;
}

#login {
	display: none;
	#invalidLogin {
		display: none;
		margin: 1em auto;
	}
}

#newUser {
	#emailExists,
	#passwordMismatch,
	#invalidEmail {
		display: none;
		margin: 1em auto;
	}
	#emailExists {
		cursor: pointer;
	}
}

/************************
Generic save / close editor dialog
************************/
div.editor {
	display: none;
	padding: 1em;
	&--show {
		display: inherit;
	}
	input, textarea {
		width: 100%;
		background-color: white;
		color: $mainF;
		padding: .5em;
		margin: 5px auto;
		outline: none;
		border: none;
	}
	.save {
		margin: 5px auto;
	}
	.close {
		margin: 5px auto;
	}
}