@import 'reset';

$br: 8px;
$sbr: $br / 2;

$mainBG: #efefef;
$mainHoverBG: #bbb;
$mainF: #262322;
$mainFL: #777;
$accent1: coral;
$accent2: lightblue;

$slate: #313638;
$offwhite: #F5F5F5;
$red: #FF5A5F;
$teal: #087E8B;
$tan: #ccc;

$tran: .7s;

html, body {
	height: 100vh;
	min-width: 100vw;
	font-family: 'Helvetica', 'Arial', sans-serif;
	background-color: $offwhite;
}

body {
	h1, h2, h3, h4, h5, h6 {
		color: $teal;
		text-align: center;
	}
}

#newList {
	position: fixed;
	top: 0;
	left: 0;
}

#logout {
	position: fixed;
	top: 0;
	right: 0;
}

#lists {
	padding: 5%;
	overflow: auto;
	white-space: nowrap;
	height: 100vh;
	.list {
		white-space: initial;
		display: inline-block;
		padding: 1em;
		background-color: $tan;
		width: 300px;
		margin-bottom: 2em;
		margin: 60px;
		border-radius: $br;
		&__title {
			background-color: $tan;
			color: $mainF;
			border: none;
			border-radius: $sbr;
			padding: .5em;
			margin: 0 0 .5em;
			cursor: pointer;
			&:focus {
				cursor: inherit;
				background-color: white;
			}
		}
		&__options {

		}
		.tasks__new {
			text-decoration: underline;
			color: $mainFL;
			display: inline-block;
			width: 100%;
			padding: .5em;
			cursor: pointer;
			border-radius: $sbr;
			&:hover {
				background-color: $mainHoverBG;
			}
		}
		.tasklist {
			.task {
				padding: .5em;
				background-color: $offwhite;
				position: relative;
				border-radius: $br;
				&__title {
					width: 100%;
					display: inline-block;
					padding: .5em;
					cursor: pointer;
					border-radius: $sbr;
					color: $teal;
					&:hover {
						background-color: $mainHoverBG;
						color: white;
					}
				}
				&__quickOptions {
					cursor: pointer;
					padding-left: 1em;
					&:hover {
						color: $accent1;
					}
				}
				.quickOptions {
					visibility: hidden;
					position: absolute;
					left: -80px;
				    top: -30px;
				    transition: $tran;
					&--visible {
						visibility: inherit;
						height: auto;
						transition: $tran;
					}
					&__option {
						margin: .5em;
						padding: $sbr;
						border-radius: $sbr;
						color: white;
						background-color: $offwhite;
						cursor: pointer;
						&:hover {
							background-color: $accent2;
						}
						&--delete {

						}
						&--move {

						}
						&--copy {

						}
					}
				}
			}
		}
	}
}

.modal-dialog {
	background-color: $offwhite;
	border-radius: $br;
	.modal-content {
		background-color: $offwhite;
		border-radius: $br;
		.modal-body {
			background-color: $offwhite;
			border-radius: $br;
			padding: 1em;
			.modal-task {
				.modal-close {
					position: absolute;
					top: 5px;
					right: 5px;
				}
				.modal-title {
					margin: 1em 0;
					h3 {
						display: inline-block;
						font-size: 1.1em;
						color: $mainF;
						cursor: pointer;
					}
					span {
						font-size: .9em;
						color: $mainFL;
					}
					.parentList {
						color: $mainF;
						font-size: 1em;
						text-decoration: underline;
					}
					.editor {
						input {
							width: 100%;
							background-color: white;
							font-size: 1.1em;
							padding: .5em;
							color: $mainF;
							border: none;
							outline: none;
							margin: .5em 0;
							&:focus {
								background-color: white;
							}
						}
					}
				}
				.modal-description {
					margin: 1em 0;
					h4 {
						display: inline-block;
					}
					p {
						cursor: pointer;
						padding: 1em;
					}
					.edit {
						padding: 0 .5em;
						display: inline;
						color: $mainFL;
						cursor: pointer;
						&:hover {
							text-decoration: underline;
						}
					}
					.editor {
						.description {
							display: block;
							resize: vertical;
							min-height: 200px;
							width: 100%;
							background-color: white;
							font-size: 1.1em;
							padding: 1em;
							color: $mainF;
							border: none;
							outline: none;
							margin: .5em 0;
						}
					}
				}
			}
		}
	}
}

// Homepage view
#newUser,
#login {
	width: 600px;
	display: block;
	margin: 0 auto;
}

#login {
	display: none;
}

#showLogin {
	cursor: pointer;
}

// Generic save / close editor for input fields
.editor {
	display: none;
	padding: 1em;
}

.list__options {
	margin: 1em 0;
	display: none;
}

.tasks {
	margin: .5em 0;
}

.tasks__task {
	position: relative;
}

.tasks__task {
	font-size: 20px;
	padding: 1em;
	background-color: #bbb;
	border-radius: 5px;
}

.tasks__task__delete {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}